/*===========================================
Base Style
===========================================*/
.nav{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}
.nav{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}


/*===========================================
Flexbox
===========================================*/
ul,
li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

body {
    display: block;
    margin:0px;

}

.global-nav {
  background-color: #00bfff;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.main-nav li:nth-child(n+2) {
    color: #00bfff;
    justify-content: flex-end;
}

.main-nav {
  display: -webkit-flex;
  display: flex;
  margin: 0;
}
.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  margin: 10px;
  border-radius: 5px;
  background: #00bfff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
	display: block;
	padding: 15px;
	text-decoration: none;
}
.main-nav .logo {
  font-size: 36px;
  font-weight: bold;
  color: #191970;
  font-family: script;
  background: #00bfff;
}
/*===========================================
Flexbox
===========================================*/

h1{
   text-align: center;
   text-indent : 12px;
   padding-top : 100px;
   padding-left : 30px;
   padding-right : 30px;
   padding-bottom : 30px;
   background: lighten(brown, 5%);
    color: #ff8c00;
    font-family: 'Lobster';
    text-shadow: 4px 3px 0px #fff,
                 9px 8px 0px rgba(0,0,0,0.15);
    span {
      display: block;
      transform: rotate(-7.5deg);
  }
}

.parent{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top : 30px;
  padding-left : 50px;
  padding-right : 50px;
  padding-bottom : 30px;
}

.inner{
    width: 900px;
    height: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.Grammar100{
  background-color: #ff8c00;
  border-left:  1px double #800000;
  border-right : 1px double #800000;
  border-bottom : 2px  double #800000;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, .4) inset,
              0 0 4px rgba(0, 0, 0, .8) inset,
              2px 2px 2px rgba(0, 0, 0, .4);

  color: #fff;
  margin: 2em 0;
  padding: 2em;
}

.Grammar200{
  background-color: #ff8c00;
  border-left:  1px double #800000;
  border-right : 1px double #800000;
  border-bottom : 2px  double #800000;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, .4) inset,
              0 0 4px rgba(0, 0, 0, .8) inset,
              2px 2px 2px rgba(0, 0, 0, .4);

  color: #fff;
  margin: 2em 0;
  padding: 2em;
}
.Reading100{
  background-color: #ff8c00;
  border-left:  1px double #800000;
  border-right : 1px double #800000;
  border-bottom : 2px  double #800000;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, .4) inset,
              0 0 4px rgba(0, 0, 0, .8) inset,
              2px 2px 2px rgba(0, 0, 0, .4);

  color: #fff;
  margin: 2em 0;
  padding: 2em;
}
.RCComp100{
  background-color: #ff8c00;
    border-left:  1px double #800000;
    border-right : 1px double #800000;
    border-bottom : 2px  double #800000;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, .4) inset,
                0 0 4px rgba(0, 0, 0, .8) inset,
                2px 2px 2px rgba(0, 0, 0, .4);
    color: #fff;
    margin: 2em 0;
    padding: 2em;
}

.Writing100{
  background-color: #ff8c00;
    border-left:  1px double #800000;
    border-right : 1px double #800000;
    border-bottom : 2px  double #800000;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, .4) inset,
                0 0 4px rgba(0, 0, 0, .8) inset,
                2px 2px 2px rgba(0, 0, 0, .4);
    color: #fff;
    margin: 2em 0;
    padding: 2em;
}

.Writing200{
  background-color: #ff8c00;
    border-left:  1px double #800000;
    border-right : 1px double #800000;
    border-bottom : 2px  double #800000;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, .4) inset,
                0 0 4px rgba(0, 0, 0, .8) inset,
                2px 2px 2px rgba(0, 0, 0, .4);
    color: #fff;
    margin: 2em 0;
    padding: 2em;
}
/* Scroll */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #00bfff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
/* Scroll */

@media all and (max-width:800px){
  .main-nav
  .container{
    justify-content:space-around;
  }

  .main-nav a:hover{
    background-color: lighten(goldenrod,10%);
  }
}
@media all and (max-width:500px){
  .main-nav{
    flex-flow:column wrap;
    padding:0;
    border-radius:3px;
  }

  .main-nav a{
    text-align:center;
    border-top:2px solid rgba(255,255,255,.2);
      border-bottom:2px solid rgba(0,0,0,.1);
  }
