/*===========================================
Base Style
===========================================*/
.nav{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}
.nav{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}


/*===========================================
Flexbox
===========================================*/
ul,
li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

body {
    display: block;
    margin:0px;
}

.global-nav {
  background-color: #00bfff;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.main-nav li:nth-child(n+2) {
    color: #00bfff;
    justify-content: flex-end;
}

.main-nav {
  display: -webkit-flex;
  display: flex;
  margin: 0;
}
.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  margin: 10px;
  border-radius: 5px;
  background: #00bfff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
	display: block;
	padding: 15px;
	text-decoration: none;
}
.main-nav .logo {
  font-size: 36px;
  font-weight: bold;
  color: #191970;
  font-family: script;
  background: #00bfff;
}
/*===========================================
Flexbox
===========================================*/

h1{
   text-align: center;
   text-indent : 12px;
   padding-top : 30px;
   padding-left : 30px;
   padding-right : 30px;
   padding-bottom : 30px;
   background: lighten(brown, 5%);

}

.inner{
    width: 900px;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    margin: auto;

}

.contact{
  background-color: #00bfff;
  border-left:  1px double #556b2f;
  border-right : 1px double #556b2f;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, .4) inset,
              0 0 4px rgba(0, 0, 0, .8) inset,
              2px 2px 2px rgba(0, 0, 0, .4);

  color: #fff;
  margin: 2em 0;
  padding: 2em;
}
#c1 {
  text-align: center;
}
#c2 {
  text-align: left;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.contact a{
  font-weight: bold;
  font-size: 1.2rem;
}

@media all and (max-width:800px){
  .main-nav
  .container{
    justify-content:space-around;
  }

  .main-nav a:hover{
    background-color: lighten(goldenrod,10%);
  }
}
@media all and (max-width:500px){
  .main-nav{
    flex-flow:column wrap;
    padding:0;
    border-radius:3px;
  }

  .main-nav a{
    text-align:center;
    border-top:2px solid rgba(255,255,255,.2);
      border-bottom:2px solid rgba(0,0,0,.1);
  }
