/*===========================================
Base Style
===========================================*/
.nav{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}
.nav{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}


/*===========================================
Flexbox
===========================================*/
ul,
li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

body {
    display: block;
    margin:0px;
    background-image: url('../img/kentucky-473693_1280.jpg');
    background-size: cover;

}

.global-nav {
  background-color: #00bfff;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.main-nav li:nth-child(n+2) {
    color: #00bfff;
    justify-content: flex-end;
}

.main-nav {
  display: -webkit-flex;
  display: flex;
  margin: 0;
}
.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  margin: 10px;
  border-radius: 5px;
  background: #00bfff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
	display: block;
	padding: 15px;
	text-decoration: none;
}
.main-nav .logo {
  font-size: 36px;
  font-weight: bold;
  color: #191970;
  font-family: script;
  background: #00bfff;
}


/*===========================================
slideshow
===========================================*/
.slideshow {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
}

 .slider{
  width: 100vw;
  padding: 10rem;
  text-align: center;
}

.centered-text{
display: block;
margin: 0 auto;
text-align: center;
}



.slick-slide {
  text-align: center;
  color: #419be0;
}

.title{
   text-align: center;
   position: relative;
   top:55px;
   font-size: 4rem;
   font-weight: bold;

   color: #00bfff;
}
/*===========================================
slideshow
===========================================*/

/* 4 Columns */

.parent {
	width: 900px;/*boxが横に並ぶだけの幅を確保*/
	overflow: hidden;/*wrapperからはみ出る部分を非表示にする*/
  padding-top: 100px;
  margin-right: auto;
  margin-left : auto;
  margin-top: 50px;
  flex-direction: row;
}

.box1 {
	width: 780px;/*内容領域の幅。下の左右のpaddingを合わせてボックスが200pxになります。*/
  height: 200px;
  padding: 0.5em 1em;
    margin: 2em ;
    color: #fff;
    background: #cd853f;
    border-top: solid 5px #800000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);/*上下左右に10pxの内余白*/
	float: center;/*横並びにしています*/
  margin-right: 50px;
}
.box2 {
	width: 350px;/*内容領域の幅。下の左右のpaddingを合わせてボックスが200pxになります。*/
  padding: 0.5em 1em;
    margin: 2em ;
    color: #fff;
    background: #cd853f;
    border-top: solid 5px #800000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);/*上下左右に10pxの内余白*/
	float: left;/*横並びにしています*/
  margin-right: : 50px;
}
.box3 {
	width: 350px;/*内容領域の幅。下の左右のpaddingを合わせてボックスが200pxになります。*/
  padding: 0.5em 1em;
    margin: 2em ;
    color: #fff;
    background: #cd853f;
    border-top: solid 5px #800000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);/*上下左右に10pxの内余白*/
	float: right;/*横並びにしています*/
  margin-left: 50px;
}
.box4 {
  text-align:left;
  width:780px;/*内容領域の幅。下の左右のpaddingを合わせてボックスが200pxになります。*/
  height: 400px;
  padding: 0.5em 1em;
    margin: 2em ;
    color: #fff;
    background: #cd853f;
    border-top: solid 5px #800000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);/*上下左右に10pxの内余白*/
	float: left;
}
.box4 iframe{
  position: absolute;
}




/* 4 Columns */

/* Scroll */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #00bfff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
/* Scroll */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eee;
  color: black;
  text-align: center;
}

@media all and (max-width:800px){
  .main-nav
  .container{
    justify-content:space-around;
  }

  .main-nav a:hover{
    background-color: lighten(goldenrod,10%);
  }

  .parent {
    font-weight: 500;
    line-height: 1.0;

  }


}
@media all and (max-width:480px){
  .main-nav{
    flex-flow:column wrap;
    padding:0;
    border-radius:3px;
  }

  .main-nav a{
    text-align:center;
    border-top:2px solid rgba(255,255,255,.2);
      border-bottom:2px solid rgba(0,0,0,.1);
  }
