/*===========================================
Base Style
===========================================*/
.nav{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}
.nav{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}


/*===========================================
Flexbox
===========================================*/
ul,
li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

body {
    display: block;
    margin:0px;
}

.global-nav {
  background-color: #00bfff;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.main-nav li:nth-child(n+2) {
    color: #00bfff;
    justify-content: flex-end;
}

.main-nav {
  display: -webkit-flex;
  display: flex;
  margin: 0;
}
.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  margin: 10px;
  border-radius: 5px;
  background: #00bfff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
	display: block;
	padding: 15px;
	text-decoration: none;
}
.main-nav .logo {
  font-size: 36px;
  font-weight: bold;
  color: #191970;
  font-family: script;
  background: #00bfff;
}

@media all and (max-width:800px){
  .main-nav
  .container{
    justify-content:space-around;
  }

  .main-nav a:hover{
    background-color: lighten(goldenrod,10%);
  }
}
@media all and (max-width:500px){
  .main-nav{
    flex-flow:column wrap;
    padding:0;
    border-radius:3px;
  }

  .main-nav a{
    text-align:center;
    border-top:2px solid rgba(255,255,255,.2);
      border-bottom:2px solid rgba(0,0,0,.1);
  }
